<mat-card class="example-container mat-elevation-z8">
    <mat-table *ngIf="dataSource" #table [dataSource]="dataSource">

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row)"></mat-row>
  
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
          <mat-cell class="cell" *matCellDef="let row">{{ row[column] }}</mat-cell>
        </ng-container>
    </mat-table>
</mat-card>