<mat-tab-group dynamicHeight>
  <mat-tab label="Sprint Progression">
    <div class="example-large-box mat-elevation-z4">
      <app-chart [workingObject]="activeSprintForChart"></app-chart>
    </div>
  </mat-tab>
  <mat-tab label="Kanban">
    <div class="example-large-box mat-elevation-z4">
      <app-kanban-board [workingObject]="activeSprintForChart" [workableProperty]="'sprints'" [moveableProperty]="'userStories'"
      [columnProperty]="'stateId'">
    </app-kanban-board>
     </div>
  </mat-tab>
</mat-tab-group>