<h2>Sprints:</h2>
<div *ngIf="sprints | async as objects">
  <mat-accordion>
      <mat-expansion-panel *ngFor="let sprint of objects">
          <mat-expansion-panel-header>
              <mat-panel-title>
                {{sprint.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{sprint.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-sprint [sprint]=sprint></app-sprint>
      </mat-expansion-panel>
  </mat-accordion>
</div>
