<mat-accordion class="example-headers-align">
  <div *ngIf="data | async as object">
      <div *ngFor="let key of getKeys(object); let i = index">
          <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{getNiceText(key)}}
                </mat-panel-title>
                <mat-panel-description>
                  Type your {{key}}
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <input matInput placeholder={{object[key]}}>
              </mat-form-field>
                <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
      </div>
  </div>
</mat-accordion>