<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>whatshot</mat-icon>
              <span>Dashboard</span>
            </button>
            <button mat-menu-item>
              <mat-icon>directions_run</mat-icon>
              <span>Sprints</span>
            </button>
            <button mat-menu-item>
              <mat-icon>storage</mat-icon>
              <span>Backlog</span>
            </button>
            <button mat-menu-item>
              <mat-icon>group</mat-icon>
              <span>Users</span>
            </button>
          </mat-menu>
      </span>
      <span class="example-spacer"></span>
      <mat-icon [routerLink]="[ '/profile']" class="example-icon" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>